/* custom.scss */

/* 右侧目录样式 */
.page__toc {
  position: sticky;
  top: 30px;
  // max-height: calc(100vh - 30px); /* 可见视口高度减去顶部偏移 */
  height: auto; /* 高度根据内容自适应 */
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 0.9em;
}

.page__toc-container {
  height: auto; /* 父容器高度根据内容适配 */
  overflow: visible; /* 确保背景不被错误覆盖 */
}


.page__toc h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.page__toc ul {
  list-style: none;
  padding-left: 0;
}

.page__toc ul li {
  margin: 5px 0;
}

.page__toc ul li a {
  text-decoration: none;
  color: #007bff;
}

.page__toc ul li a:hover {
  text-decoration: underline;
}

/* 隐藏正文中的 TOC */
.page__content ul {
  display: none;
}

.page__content ul + hr {
  display: none;
}

