/* custom.scss */

/* 右侧目录样式 */
.page__toc {
  position: sticky;
  top: 50px; /* 粘性定位到视口顶部 */
  max-height: calc(100vh - 30px); /* 限制最大高度为视口高度减去顶部偏移量 */
  overflow-y: auto; /* 启用滚动 */
  background-color: #fgfgfg; /* 背景颜色 */
  border: 1px; /* 边框 */
  padding: 10px; /* 内边距 */
  font-size: 1em; /* 字体大小 */
  box-sizing: border-box; /* 确保内边距不影响宽度 */
  background-clip: padding-box; /* 限制背景只填充到内容区域 */
}

.page__toc div {
  height: auto; /* 内容决定高度 */
  background-color: transparent; /* 防止背景干扰 */
}


.page__toc h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.page__toc ul {
  list-style: none;
  padding-left: 0;
}

.page__toc ul li {
  margin: 5px 0;
}

.page__toc ul li a {
  text-decoration: none;
  color: #007bff;
}

.page__toc ul li a:hover {
  text-decoration: underline;
}

/* 隐藏正文中的 TOC */
.page__content ul {
  display: none;
}

.page__content ul + hr {
  display: none;
}

